
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
}

body{
    background-color: white;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    font-family: 'Baloo 2', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 180px;
    height: 108px;
    margin-top: 40px;
}

#principal{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    gap: 20px;
}

h1{
    color: #2C3E50;
    font-size: 24px;
    font-weight: 800;
}

p{
    color: #2C3E50;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

#formulario{
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
    height: 262px;
    margin-left: 15px;
    margin-right: 15px;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label{
    color: black;
    font-size: 14px;
    font-weight: 600;
    gap: 4px;
    display: flex;
}

input{
    color: #6A6A6A;
    font-size: 14px;
    font-weight: 400;
    padding: 16px;
    border: 1px solid #E9EBFF;
    border-radius: 12px;
    width: 100%;

} 
    
button{
    background-color: #F9D266;
    font-size: 14px;
    font-weight: bold;   
    color: white;
    padding: 16px;
    border: none;
    border-radius: 100px;
    width: 100%;
}

